.input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

}

.input-field::placeholder {
    color: #3e3e3e;
}

.input-field:focus {
    border-color: #333;
}